[Desktop Entry]
Encoding=UTF-8
Name=Alarmx Core
Comment=Alarmx P2P Cryptocurrency
Comment[de]=Verbinde mit dem Alarmx peer-to-peer Netzwerk
Comment[fr]=Alarmx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Alarmx, eşten eşe kriptografik sanal para birimi
Exec=alarmx-qt %u
Terminal=false
Type=Application
Icon=alarmx128
MimeType=x-scheme-handler/alarmx;
Categories=Office;Finance;
